<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Editar Sala</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  

<body>  
<form method="POST" class="post-form" action="/cadastro/update-sala/{{sala.id_sala}}">  
        {% csrf_token %}  
  <div class="container">  
	<br>  
    <div class="form-group row">  
    	<label class="col-sm-1 col-form-label"></label>  
    	<div class="col-sm-4">  
    		<h3>Parâmetros:</h3>  
    	</div>  
  	</div>  
  	<div class="form-group row">  
    	<label class="col-sm-2 col-form-label">Nome:</label>  
    	<div class="col-sm-4">  
        	<input type="text" name="nome" id="id_nome" required maxlength="100" value="{{ sala.nome }}" />  
    	</div>  
  	</div>  
	<br>
    <div class="form-group row">  
    	<label class="col-sm-2 col-form-label">Lotação:</label>  
    	<div class="col-sm-4">  
        	<input type="text" name="lotacao" id="id_lotacao" required maxlength="100" value="{{ sala.lotacao }}" />  
    	</div>  
  	</div>  
	<br>
	<br>
  	<div class="form-group row">  
    	<label class="col-sm-1 col-form-label"></label>  
    	<div class="col-sm-4">  
    		<button type="submit" class="btn btn-success">Atualizar</button>  
    	</div>  
  	</div>  
  </div>  
</form>  
</body>  
</html>  
