<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Menu</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<h1>Menu de cadastro</h1>
<br>
<h2><a href="/cadastro/show-pessoa"><span class="glyphicon glyphicon-pencil" >Pessoa</span></a></h2>
<h2><a href="/cadastro/show-sala"><span class="glyphicon glyphicon-pencil" >Sala</span></a></h2>
<h2><a href="/cadastro/show-espaco"><span class="glyphicon glyphicon-pencil" >Espaço</span></a></h2>
<br>
<br>
<h1>Reservas</h1>
<br>
<h2><a href="/cadastro/show-reserva-sala"><span class="glyphicon glyphicon-pencil" >Reserva de Sala</span></a></h2>
</body>  
</html>  
