<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Lista de Pessoas</title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Nome</th>  
        <th>Sobrenome</th>  
        <th>Ações</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for indice in pessoa %}  
    <tr>  
        <td>{{ indice.nome }}</td>  
        <td>{{ indice.sobrenome }}</td>   
        <td>  
            <a href="/cadastro/edit-pessoa/{{ indice.id_pessoa }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a>  
            <a href="/cadastro/delete-pessoa/{{ indice.id_pessoa }}">Excluir</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/cadastro/cadastro-pessoa" class="btn btn-primary">Adicionar pessoa</a></center>  
</body>  
</html>  
